<%- include('_header') -%>

<% if (user) { %>
  <div class="bottom-margin">
    <a href="/post">
      <button class="button is-rounded is-primary">Create a new post</button>
    </a>
  </div>
<% } %>

<div class="content">
  <% posts.forEach((post) => { %>
    <%
      options = {
        day: 'numeric', month: 'numeric', year: 'numeric',
        hour: 'numeric', minute: 'numeric',
        hour12: false,
        timeZone: 'Europe/Berlin' 
      };
      const dateFormatted = new Intl.DateTimeFormat('en-GB', options).format(new Date(post.date));
    %>
    <div class="box">
      <article class="media">
        <div class="media-left">
          <p class="has-text-centered is-size-4">
            <%= post.hearts %><br>
            &#128151;
          </p>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              <strong><a href="/user/<%= post.author.name %>"><%= post.author.name %></a></strong>
              <small class="is-size-7"><%= dateFormatted %></small>
            </p>
            <p>
              <strong><%= post.title %></strong><br>
              <%= post.content %>
            </p>
          </div>
        </div>
        <div class="media-right">
          <% if (user && user.hearts.includes(post._id)) { %>
            <button class="button is-rounded static" disabled>Already &#128151;'ed</button>
          <% } else { %>
            <a href="/post/heart/<%= post._id %>">
              <button class="button is-rounded">&#128151; this!</button>
            </a>
          <% } %>
        </div>
      </article>
    </div>
  <% }); %>
</div>

<%- include('_footer') -%>