<%- include('_header') -%>

<h1 class="title">Shallow Content</h1>
<p class="subtitle is-4">Write dumb things for worthless Internet points</p>

<% if (user) { %>
  <p>You are logged in as: <%= user.username %>. <a href="/logout">Logout</a></p>
<% } else { %>
  <p>You are not logged in. <a href="/login">Login here</a></p>
<% } %>

<div class="new_post">
  <a href="/post">Create a new post</a>
</div>

<div class="content">
  <% posts.forEach((post) => { %>
    <div class="card bottom-margin">
      <header class="card-header">
        <p class="card-header-title card-header-colorized">
          <%= post.title %>
        </p>
      </header>  

      <div class="card-content">
        <p class="is-size-7">
          by <%= post.author.username %> @ <%= post.date.toLocaleString() %>
        </p>
        <p>
          <%= post.content %>
        </p>  
      </div>

      <footer class="card-footer">
        <p class="card-footer-item"><%= post.voteCount %> upvotes so far</p>
      </footer>
    </div>
  <% }); %>
</div>

<%- include('_footer') -%>