<%- include('_header') -%>

<div class="post">
  <h1><%= post.title %></h1>
  <p class="small">created by <%= post.author.username %> on <%= post.date.toLocaleString() %></p>
  <p><%= post.content %></p>
</div>

<%- include('_footer') -%>